---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Root RPG">
	<h1>Links</h1>
	<ul>
		<li>
			<a href="feature/reputation-tracker">Reputation Tracker</a>
		</li>
	</ul>
</BaseLayout>
